backend/.env
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.idea/
*.pyc
venvpire/
.vscode
.DS_Store
*.log

backend/firebase/*.json
backend/uploads/

node_modules/
web/node_modules/
web/.next/
web/out/
web/build/

web/.env.local
web/.env.development.local
web/.env.production.local
web/.env.test.local

pytest_cache/